<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Page de login</title>
  </head>
  <body>
    <h1>Page de login</h1>
    <form accept-charset="UTF-8" action="<%= admin_index_path %>" method="post">
      <%= token_tag %>
      <input name="utf8" type="hidden" value="&#x2713;"/>
      <!-- <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts="/> -->
      email_ :
      <input type='text' name='email'/><br/>
      password :
      <input type='password' name='password'/><br/>
      <input type='submit'/>
    </form>

  </body>
</html>
